.hidden {
  display: none !important;
}

.inline {
  display: inline !important;
  &-block {
    display: inline-block !important;
  }
}

.block {
  display: block !important;
}

.table {
  display: table !important;
  width: 100%;
  &-cell {
    display: table-cell !important;
  }
}