.menu {
	position: relative;

	button{
		z-index: 2;
	}

	&-container {
		position: absolute;
		top: 0;
		padding: 8px 0;
		max-width: 100px;
		max-height: 50px;
		visibility: hidden;
		overflow-y: hidden;
		z-index: 1;
		opacity: 0;
	}

	&.is-open {
		.menu-container {
			max-width: 250px;
			max-height: 200px;
			visibility: visible;
			overflow-y: auto;
			z-index: 2;
			opacity: 1;
			transition: max-height .8s, max-width .4s, opacity .4s;
		}
	}

}