.tabs {
	position: relative;

	ul {
		padding: 0;
		margin: 0;
	}

	&-content {
		transform: translateX(0%);
	}

	.tab {

		&-title {
			display: inline-block;
			font-size: 14px;
			vertical-align: middle;
		}

		&-content {
			width: 100%;
			transition: transform ease-out .3s;
			float: left;
		}

	}

}