.tabs {
	position: relative;

	ul {
		padding: 0;
		margin: 0;
		list-style: none;
		position: relative;
		padding-bottom: 2px;

		display: flex;
		width: 100%;
		overflow: auto;

		li {
			.button.flat {
				margin: 0;
				&:hover, &:active, &:focus {
					background: transparent;
				}
			}
			&.ink-bar {
				position: absolute;
				bottom: 0;
				width: 0;
				height: 2px;
				background: $accent;
				transition: left ease-out .3s, width ease-out .3s;
				z-index: 1;
			}
		}

	}

	&-container {
		//overflow-x: hidden;
	}

	&-content {
		//transform: translateX(0%);
	}

	.tab {

		&-title {
			display: inline-block;
			font-size: 14px;
			vertical-align: middle;
			/*.button-text{
				@include for-phone-only{
					font-size: 1.2rem;
				}
			}*/
		}

		&-content {
			width: 100%;
			//transition: transform ease-out .3s;
			//float: left;
			opacity: 0;
			display: none;
			transition: opacity .15s linear;

			ul{
				display: block;
				overflow: none;
				width: auto;
			}
		}

	}

}