#notifies {
	position: fixed;
	width: 0;
	overflow: visible;
	z-index: 1982;
	transform: translate3d(0, 0, 0);
	right: $grid-gutter-width;
	bottom: $grid-gutter-width;
}

.notify {
	//@include Modal();
	position: relative;
	margin-top: $grid-gutter-width;
	visibility: hidden;
	right: -$grid-gutter-width;
	transition-duration: 500ms;
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);

	&-close {
		cursor: default;
		float: right;
		margin: auto -5px auto auto;
		font-size: 0;
		.icon {
			cursor: pointer;
		}
	}

	&-header {
		overflow: hidden;
		font-size: 18px;
		font-weight: 500;
	}

	> .paper {
		position: relative;
		z-index: 1;
		padding: 24px 24px 24px;
	}

	.open & {
		visibility: visible;
	}

	&.large {
		width: $modal-lg;
		font-size: $font-size;
		.open & {
			right: $modal-lg;
		}
	}
	&.medium {
		width: $modal-md;
		font-size: $font-size;
		.open & {
			right: $modal-md;
		}
	}
	&.small {
		width: $modal-sm;
		font-size: $font-size;
		.open & {
			right: $modal-sm;
		}
	}
	&.mini {
		width: $modal-xs;
		font-size: $font-size;
		.open & {
			right: $modal-xs;
		}
	}

	> .paper {
		padding: 24px;
	}

}

.box {
	.default & {
		border-color: $gray-light;
	}
	.info & {
		border-color: $info;
	}
	.success & {
		border-color: $success;
	}
	.warning & {
		border-color: $warning;
	}
	.danger & {
		border-color: $danger;
	}
}