/** {
  box-sizing: border-box;
}*/
@import "./variables";
@import "./scss/helpers/clearfix";
@import "./scss/helpers/display";
@import "./scss/helpers/grid";
@import "./scss/helpers/margin";

@import "scss/mixins/Modal";

@import "./components/Ripple";
@import "./components/Paper";

@import "./components/Button/Button";
@import "./components/DropDown/DropDown";
@import "./components/Icon/Icon";
@import "./components/Field/Field";
@import "./components/Slider/Slider";
@import "./components/Menu/Menu";
@import "./components/Modal/Modal";
@import "components/Checkbox/Checkbox";

.input-range {
  $moonstone: #d8dfe6;
  $frost: #7d9aa7;
  $thumb-size: 32px;
  $track-size: 2px;

  -webkit-appearance: none;
  width: 100%;
  margin: 0;

  &:focus, &:active, &:hover {
    outline: none;
    border: none;
    &::-webkit-slider-thumb {
      background: radial-gradient(
          circle closest-side,
          $frost 6px,
          rgba(0,0,0, .26) 7px,
          rgba(0,0,0, .26) 16px
      );
    }
  }

  &::-webkit-slider-runnable-track {
    width: 100%;
    height: $track-size;
    cursor: pointer;
    background-color: $moonstone;
    border-radius: $track-size / 2;
  }

  &::-webkit-slider-thumb {
    background: radial-gradient(
        circle closest-side,
        $frost 6px,
        rgba(0,0,0, 0) 7px,
        rgba(0,0,0, 0) 16px
    );
    height: $thumb-size;
    width: $thumb-size;
    border-radius: 50%;
    //box-shadow: inset 0 0 0 0 rgba(0,0,0, .26);
    transition: background .3s ease;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -($thumb-size / 2) + ($track-size / 2);
    &:before {
      content: 'a';
    }
  }

  &::-moz-range-track {
    width: 100%;
    height: $track-size;
    cursor: pointer;
    background-color: $moonstone;
    border-radius: $track-size / 2;
  }

  &::-moz-range-thumb {
    border: 2px solid $frost;
    background-color: #fff;
    height: $thumb-size;
    width: $thumb-size;
    border-radius: 50%;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -($thumb-size / 2) + ($track-size / 2);
  }

  &::-ms-track {
    width: 100%;
    height: $track-size;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
    border-width: $track-size 0;
  }

  &::-ms-fill-lower {
    background: $moonstone;
    border: none;
    border-radius: $track-size / 2;
  }

  &::-ms-fill-upper {
    background: $moonstone;
    border: none;
    border-radius: $track-size / 2;
  }

  &::-ms-thumb {
    height: $thumb-size;
    width: $thumb-size;
    border-radius: 50%;
    background: #fff;
    border: 2px solid $frost;
    cursor: pointer;
  }
}